* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    user-select: none;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: rgb(145,33,255);
    background: linear-gradient(120deg, rgba(145,33,255,1) 0%, rgba(190,57,255,1) 65%);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    height: 78px;
    box-sizing: border-box;
    padding: 10px;
    background: rebeccapurple;
    display: flex;
    justify-content: end;
}

#sidebar {
    width: 100%;
    max-width: 280px;
    height: 100%;
    padding: 0 20px;
    background: #9932CC;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 0 25px 25px 0;
    position: absolute;
    transition: 0.5s;
    z-index: 2;
    opacity: 90%;
}

#sidebar-box {
    width: 50px;
    height: 50px;
    background: white;
    border: 4px solid #9932CC;
    border-radius: 25px;
    transition: 0.5s;
    display: flex;
    position: relative;
    opacity: 70%;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

#sidebar-box:hover {
    opacity: 100%;
}

#products-count {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: red;
    color: white;
    font-size: 10px;
    position: absolute;
    bottom: 6px;
    right: 6px;
    text-align: center;
    line-height: 20px;
    display: none;
}

.header {
    width: 100%;
    height: 30px;
    border-radius: 25px;
    font-size: 25px;
    text-align: center;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

#goods-container {
    width: 90%;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: purple;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 25px 10px 10px 25px;
    margin: auto;
}

#cart-header-container {
    width: 100%;
    position: sticky;
    top: 0;
    background: purple;
    z-index: 1;
}

#goods {
    height: 100%;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 10px;
}

#cart-goods, #goods {
    width: 100%;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
    gap: 10px
}

#cart-goods {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#cart-goods::-webkit-scrollbar, #goods::-webkit-scrollbar {
    width: 15px;
}

#cart-goods::-webkit-scrollbar-thumb, #goods::-webkit-scrollbar-thumb {
    background: purple;
    background-clip: padding-box;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 0 10px 10px 0;
}

#cart-goods::-webkit-scrollbar-track, #goods::-webkit-scrollbar-track {
    background: lightgray;
    border-radius: 0 10px 10px 0;
}

#order-price {
    width: 100%;
    background: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
    text-align: center;
    user-select: text;
}

#order, .buy-button {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(10,173,141,1);
    background: radial-gradient(rgba(10,173,141,1) 15%, rgba(20,232,112,1) 100%);
    color: white;
    border: none;
    border-radius: 25px;
    text-align: center;
    transition: 0.5s;
}

#order {
    margin-bottom: 20px;
}

#order:hover, .buy-button:hover {
    scale: 0.95;
}

#order:active, .buy-button:active {
    scale: 0.9;
}

.product {
    width: 100%;
    background: white;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 25px;
    z-index: 0;
}

.delete-product {
    width: 100%;
    height: 20px;
    text-align: center;
    font-weight: bold;
    background: red;
    background-size: contain;
    margin-bottom: 10px;
    border-radius: 40px;
    border: 1px black solid;
    transition: 0.5s;
}

.delete-product:hover {
    background: #DD0000;
    background-size: contain;
}

.delete-product:active {
    background: #BB0000;
    background-size: contain;
}

.product-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
}

.text {
    width: 100%;
    margin-bottom: 5px;
    user-select: text;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-price {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 13px;
    margin-bottom: 5px;
    user-select: text;
}

.amount-container {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.change-count-product {
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;
    text-align: center;
    line-height: 20px;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
}

.change-count-product:active {
    scale: 0.8;
}

.amount {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.rate {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    position: relative;
}

.rate p {
    width: 129px;
    height: 30px;
    position: absolute;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.rate-mask {
    color: gold;
    -webkit-mask-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(0,0,0,1)), to(rgba(0,0,0,1)));
    -webkit-mask-repeat: no-repeat;

    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    mask-repeat: no-repeat;
}

.rate-count {
    width: 100%;
    text-align: center;
}

#message {
    width: 100%;
    max-width: 240px;
    padding: 10px;
    position: absolute;
    font-weight: bold;
    top: -100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 25px;
    transition: top 0.5s;
    z-index: 100;
}

@media (max-width: 1100px) {
    #goods {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media (max-width: 800px) {
    #goods {
        grid-template-columns: minmax(200px, 1fr);
    }
}

@media (max-width: 330px) {
    #sidebar .header {
        margin-top: 20px;
    }

    .header {
        width: calc(85vw - 50px);
        align-self: start;
        margin-bottom: 30px;
    }

    nav {
        background: transparent;
        position: absolute;
    }

    #sidebar-box {
        opacity: 100%;
    }

    #sidebar {
        opacity: 100%;
    }

    #goods-container {
        width: 100%;
    }

    #goods-container {
        height: 100%;
        margin: 0;
        border-radius: 0;
    }

    #goods::-webkit-scrollbar {
        width: 10px;
    }

    #goods::-webkit-scrollbar-thumb {
        border-radius: 0;
    }

    #goods::-webkit-scrollbar-track {
        border-radius: 0;
    }
}

@media (max-height: 600px) {
    .container {
        flex-direction: row-reverse;
    }

    nav {
        width: 78px;
        height: 100%;
    }

    #sidebar .header {
        width: calc(100% - 78px);
        margin-top: 5px;
    }

    #sidebar {
        width: 100%;
        max-width: none;
        height: 100%;
        opacity: 100%;
    }

    #cart-goods {
        width: calc(100% - 78px);
    }

    #goods-container {
        height: 100%;
    }
}