* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Onest', sans-serif;
}

.wrapper {
    background: #6e28d9;
}

nav {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    z-index: 100;
}

#products-container {
    display: flex;
    flex-direction: row;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
    gap: 20px;
}

#sidebar {
    width: 100%;
    max-width: 350px;
    height: 100vh;
    padding: 0 20px;
    background: #9932CC;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#sidebar-box {
    width: 50px;
    height: 50px;
    background: white;
    border: 4px solid #9932CC;
    border-radius: 25px;
    transition: all 0.5s;
    display: flex;
    position: relative;
    opacity: 70%;
}

#sidebar-box:hover {
    opacity: 100%;
}

#products-count {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: red;
    color: white;
    font-size: 10px;
    position: absolute;
    bottom: 6px;
    right: 6px;
    text-align: center;
    line-height: 20px;
    display: none;
}

#sidebar-icon {
    margin: auto;
}

#cart-header {
    width: 100%;
    height: 30px;
    border-radius: 25px;
    font-size: 25px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    background: white;
    margin: 20px auto;
    font-weight: bold;
}

#goods {
    flex-grow: 1;
    margin-top: 100px;
    background: #9932CC;
    padding: 20px;
    border-radius: 25px;
}

#cart-goods, #goods {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 20px;
}

#cart-goods::-webkit-scrollbar, #goods::-webkit-scrollbar {
    width: 10px;
}

#cart-goods::-webkit-scrollbar-thumb, #goods::-webkit-scrollbar-thumb {
    background: #9932CC;
    background-clip: padding-box;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
}

#cart-goods::-webkit-scrollbar-track, #goods::-webkit-scrollbar-track {
    background: lightgray;
    border-radius: 10px;
}

#order-price {
    width: 100%;
    background: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
    text-align: center;
}

.order {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(20,232,112);
    background: radial-gradient(rgba(10,173,141,1) 15%, rgba(20,232,112,1) 100%);
    color: white;
    border: none;
    border-radius: 25px;
    text-align: center;
    transition: all 0.5s;
}

.order:hover {
    scale: 0.95;
}

.order:active {
    scale: 0.9;
}

.product {
    width: calc(100% - 20px);
    background: white;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.delete-product {
    width: 20px;
    height: 20px;
    text-align: right;
    background: red url("/images/cross.png") no-repeat center;
    background-size: contain;
    justify-self: end;
    border-radius: 25px;
    margin-left: auto;
    margin-right: 10px;
    transition: all 0.5s;
}

.delete-product:hover {
    background: #DD0000 url("/images/cross.png") no-repeat center;
    background-size: contain;
}

.delete-product:active {
    background: #BB0000 url("/images/cross.png") no-repeat center;
    background-size: contain;
}

.product-img {
    background-image: url("https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
}

.product-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 5px;
}

.product-price {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 13px;
    margin-bottom: 5px;
}

.amount-container {
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.decrease-product, .increase-product {
    width: 10px;
    height: 100%;
    border: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    transition: all 0.5s;
}

.decrease-product {
    background-image: url("/images/minus.png");
}

.increase-product {
    background-image: url("/images/plus.png");
}

.decrease-product:active {
    scale: 0.8;
}

.amount {
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

.increase-product:active {
    scale: 0.8;
}

.rate {
    width: 100%;
    height: 30px;
    align-items: center;
    display: inline-block;
}

.rate-mask {
    -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.rate-count {
    display: inline-block;
    color: darkgray;
}